<div>
  <div>
    <h2>Create user</h2>
    <form>
      <div>
        <label for="name">Name:</label>
        <input type="text" #name />
      </div>
      <div>
        <label for="ssn">SSN</label>
        <input type="number" #ssn />
      </div>
      <div>
        <label for="address">Address</label>
        <input type="text" #address />
      </div>
      <div>
        <label for="nation">Nationality</label>
        <input type="text" #nation />
      </div>
      <button
        type="button"
        (click)="createUser(name.value, ssn.value, address.value, nation.value)"
      >
        Submit
      </button>
    </form>
  </div>
  <div [style.display]="showEdit">
    <h2>Edit user</h2>
    <form>
      <div>
        <label for="ename">Name:</label>
        <input type="text" #ename [value]="eename" />
      </div>
      <div>
        <label for="essn">SSN</label>
        <input type="number" #essn [value]="eessn" />
      </div>
      <div>
        <label for="eaddress">Address</label>
        <input type="text" #eaddress [value]="eeaddress" />
      </div>
      <div>
        <label for="enation">Nationality</label>
        <input type="text" #enation [value]="eenation" />
      </div>
      <button
        type="button"
        (click)="
          editUser(ename.value, essn.value, eaddress.value, enation.value)
        "
      >
        Save Changes
      </button>
    </form>
  </div>

  <div>
    <h2>Users</h2>
    <div *ngFor="let user of users">
      <div>
        <p>Name: {{ user.name }}</p>
        <p>Address: {{ user.address }}</p>
        <p>Social Security Number: {{ user.ssn }}</p>
        <p>Nationality: {{ user.nationality }}</p>
      </div>
      <div>
        <button type="button" (click)="setEditUser(user.ssn)">Edit</button>
        <button type="button" (click)="remUser(user.ssn)">Delete</button>
      </div>
    </div>
  </div>
</div>
