<div>

    <div class="container my-4">
        <h2>Create user</h2>
        <form>
            <div class="mb-3">
              <label for="name" class="form-label">Name:</label>
              <input type="text" class="form-control" #name aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="ssn" class="form-label">SSN</label>
              <input type="number" class="form-control" #ssn>
            </div>
            <div class="mb-3">
              <label for="address" class="form-label">Address</label>
              <input type="text" class="form-control" #address>
            </div>
            <div class="mb-3">
              <label for="nation" class="form-label">Nationality</label>
              <input type="text" class="form-control" #nation>
            </div>
            <button type="button" class="btn btn-primary" (click)="createUser(name.value,ssn.value,address.value,nation.value)" >Submit</button>
          </form>
    </div>
    <div class="container my-4" [style.display]="showEdit">
        <h2>Edit user</h2>
        <form>
            <div class="mb-3">
              <label for="ename" class="form-label">Name:</label>
              <input type="text" class="form-control" #ename [value]="eename">
            </div>
            <div class="mb-3">
              <label for="essn" class="form-label">SSN</label>
              <input type="number" class="form-control" #essn [value]="eessn">
            </div>
            <div class="mb-3">
              <label for="eaddress" class="form-label">Address</label>
              <input type="text" class="form-control" #eaddress [value]="eeaddress">
            </div>
            <div class="mb-3">
              <label for="enation" class="form-label">Nationality</label>
              <input type="text" class="form-control" #enation [value]="eenation">
            </div>
            <button type="button" class="btn btn-primary" (click)="editUser(ename.value,essn.value,eaddress.value,enation.value)">Save Changes</button>
          </form>
    </div>

  <div class="container">
    <h2>Users</h2>
    <div
      *ngFor="let user of users"
      class="d-flex justify-content-between border my-3 px-3 py-2 rounded"
    >
      <div>
        <p>Name: {{ user.name }}</p>
        <p>Address: {{ user.address }}</p>
        <p>Social Security Number: {{ user.ssn }}</p>
        <p>Nationality: {{ user.nationality }}</p>
      </div>
      <div class="d-flex align-items-center">
        <button type="button" class="btn btn-danger me-2" (click)="setEditUser(user.ssn)">Edit</button>
        <button type="button" class="btn btn-primary" (click)="remUser(user.ssn)">Delete</button>
      </div>
    </div>
  </div>
</div>
