.calculator{
    width: 400px;
    margin: auto;
}
.calculator > div > input{
    height: 50px;
    border-radius: 10px;
    /* margin: 1px; */
}
.calculator > div > button{
    height: 50px;
    border-radius: 10px;
    /* margin: 1px; */
}