<div>
  <!-- add tasks -->
  <h2>Add tasks</h2>
  <form>
    <input type="text" name="task" #taskInfo />
    <button type="button" (click)="addTask(taskInfo.value)">Add task</button>
  </form>
  <div>
    <h1>Tasks</h1>
    <div *ngFor="let task of todolist">
      <p>{{ task }}</p>
      <div>
        <button type="button" (click)="startEdit(task)">Edit</button>
        <button type="button" (click)="deleteTask(task)">Delete</button>
      </div>
    </div>
  </div>

  <!-- Edit form -->
  <form [style.display]="show">
    <h3>Edit form</h3>
    <input type="text" name="taskEdit" #taskEdit [value]="toEditTask" />
    <button type="button" (click)="editTask(taskEdit.value)">
      Save changes
    </button>
  </form>
</div>
