<div>
  <h2>Student Details</h2>
  <div>
    <label for="studentCnt">Enter no of Students: </label>
    <input type="number" #studentCnt />
    <button type="button" (click)="getStudents(studentCnt.value)">
      get students
    </button>
  </div>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Gender</th>
        <th>CGPA</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of showStudents">
        <td>{{ student.id }}</td>
        <td>{{ student.name }}</td>
        <td>{{ student.email }}</td>
        <td>{{ student.gender }}</td>
        <td>{{ student.cgpa }}</td>
      </tr>
      <!-- Add more rows as needed -->
    </tbody>
  </table>
</div>
