<!-- string-list.component.html -->

<div>
  <h2>Shopping plan</h2>

  <form>
    <div>
      <label for="exampleInputEmail1">Add Item:</label>
      <input type="text" #addValue />
    </div>
    <button type="button" (click)="addItem(addValue.value)">Add</button>
    <div>
      <label for="exampleInputPassword1">Remove Item:</label>
      <input type="text" #removeValue />
    </div>
    <button type="button" (click)="removeItem(removeValue.value)">
      Remove
    </button>
  </form>

  <div>
    <h3>List of items</h3>
    <div *ngFor="let str of items">
      {{ str }}
    </div>
  </div>
</div>
