<!-- string-list.component.html -->

<div class="container">
  <h2>String List</h2>


  <form class="mx-auto mt-5">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Add Item:</label>
      <input type="text" class="form-control" #addValue>
    </div>
    <button type="button" class="btn btn-primary" (click)="addItem(addValue.value )">Add</button>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Remove Item:</label>
      <input type="text" class="form-control" #removeValue>
    </div>
    <button type="button" class="btn btn-primary" (click)="removeItem(removeValue.value)">Remove</button>
  </form>

  <div class="mt-5">
    <h3>List of items</h3>
    <div *ngFor="let str of items" class="ms-2">
      {{ str }}
    </div>
  </div>
</div>
